[submodule "addons/oomusic"]
	path = addons/oomusic
	url = https://github.com/DocMarty84/oomusic
	branch = 11.0
[submodule "addons/oovideo"]
	path = addons/oovideo
	url = https://github.com/DocMarty84/oovideo
	branch = 11.0
