[Unit]
Description=KooZic - Open Source Streaming Software
Documentation=https://koozic.net/
After=network.target

[Service]
ExecStart=/opt/koozic/odoo-bin
Restart=on-failure
ProtectSystem=full

[Install]
WantedBy=default.target
